<h1>Frontend API</h1>
<p>Orb is a web based desktop, that uses Javascript (jQuery) in the frontend and PHP in the backend. Both frontend and <a href="backend.html">backend</a> have their own API, which can be used when writing Orb applications. This page describes the frontend API.</p>

<h2>System</h2>

<h4>orb_startmenu_add(&lt;label&gt;, &lt;icon&gt;, &lt;callback&gt;);</h4>
<p>Adds the application (name and icon) to the Orb start menu.</p>
<ul>
<li>label: The text to be shown in the start menu.</li>
<li>icon: The icon to be shown in the start menu.</li>
<li>callback: The function to execute when the label has been clicked. This usually starts the application.</li>
</ul>

<h4>orb_quickstart_add(&lt;label&gt;, &lt;icon&gt;, &lt;callback&gt;);</h4>
<p>Adds the application to the quick start bar (located right of the Orb start menu button).</p>
<ul>
<li>label: The text to be shown when hovering the icon in the quickstart bar.</li>
<li>icon: The icon to be shown in the quickstart bar.</li>
<li>callback: The function to execute when the icon has been clicked. This usually starts the application.</li>
</ul>

<h4>orb_upon_file_open(&lt;extension&gt;, &lt;callback(filename)&gt;[, icon]);</h4>
<p>Tells Orb what to do when a file is double clicked (on Desktop or in Explorer).</p>
<ul>
<li>extension: File extension for which the callback should be used.</li>
<li>callback: The function to execute when the specfied file type is opened. The filename is sent as a parameter.</li>
<li>icon: The icon to be shown for files with that extension.</li>
</ul>

<h4>orb_contextmenu_extra_item(&lt;extension&gt;, &lt;label&gt;, &lt;icon&gt;, &lt;callback&gt;);</h4>
<p>Add extra menu options for a right-click on a file icon.</p>
<ul>
<li>extension: Extension of the file for which a context menu is shown.</li>
<li>label: The label to show in the context menu.</li>
<li>icon: The name of the font-awesome icon to show in the context menu.</li>
<li>callback: The function to call when the context menu item has been clicked. The clicked icon and the selected menu option will be used as its parameters.</li>
</ul>

<h4>orb_alert(&lt;text&gt;[, &lt;title&gt;]);</h4>
<p>Show a message window.</p>
<ul>
<li>text: The message to be shown.</li>
<li>title: The title of the window.</li>
</ul>

<h4>orb_confirm(&lt;text&gt;, &lt;okay&gt;[, &lt;cancel&gt;]);</h4>
<p>Show a message window with an 'Ok' and 'Cancel' button.</p>
<ul>
<li>text: The message to be shown.</li>
<li>okay: The function to call when the 'Ok' button has been clicked.</li>
<li>cancel: The function to call when the 'Cancel' button has been clicked.</li>
</ul>

<h4>orb_prompt(&lt;text&gt;, &lt;input&gt;, &lt;okay(result)&gt;[, &lt;cancel&gt;]);</h4>
<p>Show a dialog window with an 'Ok' and 'Cancel' button and an input field.</p>
<ul>
<li>text: The message to be shown.</li>
<li>input: The default text in the input field.</li>
<li>okay: The function to call when the 'Ok' button has been clicked.</li>
<li>cancel: The function to call when the 'Cancel' button has been clicked.</li>
</ul>

<h4>orb_load_javascript(&lt;script&gt;);</h4>
<p>Load a Javascript file.</p>
<ul>
<li>script: URL to the Javascript to be loaded.</li>
</ul>

<h4>orb_load_stylesheet(&lt;sheet&gt;);</h4>
<p>Load a stylesheet file.</p>
<ul>
<li>sheet: URL to the stylesheet to be loaded.</li>
</ul>

<h4>orb_setting_get(&lt;setting&gt;, &lt;done(value)&gt;[, &lt;fail&gt;]);</h4>
<p>Get a setting's value.</p>
<ul>
<li>setting: The setting to be loaded.</li>
<li>done: The function to execute when the setting is retrieved. The setting value is sent as a parameter.</li>
<li>fail: The function to execute when the retrieving fails.</li>
</ul>

<h4>orb_setting_set(&lt;setting&gt;, &lt;value&gt;[, &lt;done&gt;[, &lt;fail&gt;]]);</h4>
<p>Store a value as a setting.</p>
<ul>
<li>setting: The setting to be saved.</li>
<li>value: The value of the setting.</li>
<li>done: The function to execute when the saving is done.</li>
<li>fail: The function to execute when the saving fails.</li>
</ul> 

<h2>File</h2>
<h4>orb_download_url(&lt;filename&gt;);</h4>
<p>Converts an Orb filename to a downloadable URL.</p>

<h4>orb_file_nice_size(&lt;size&gt;);</h4>
<p>Returns a file size in kB, MB or GB.</p>
<ul>
<li>size: The size in bytes.</li>
</ul>

<h4>orb_file_type(&lt;filename&gt;, &lt;done(type)&gt;[, &lt;fail(error)&gt;]);</h4>
<p>Get the type of a file.</p>
<ul>
<li>filename: The name of the file or directory to be checked.</li>
<li>done: The function to execute after type file checking. Type is 'file' for a file or 'directory' for a directory.</li>
<li>fail: The function to execute when the file type checking fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_dialog(&lt;label&gt;, &lt;callback(filename)&gt;[, &lt;default directory&gt;[, &lt;default filename&gt;]]);</h4>
<p>Opens a dialog box in which the user can select a file.</p>
<ul>
<li>label: Text to be used in the window bar and the submit button.</li>
<li>callback: The function to execute after a file has been selected. The filename is sent as a parameter.</li>
<li>default directory: The directory to start in.</li>
<li>default filename: The filename to be pre-fill in the dialog.</li>
</ul>

<h4>orb_file_exists(&lt;filename&gt;, &lt;done(exists)&gt;[, &lt;fail(error)&gt;]);</h4>
<p>Check whether a file exists or not.</p>
<ul>
<li>filename: The name of the file to be checked.</li>
<li>done: The function to execute after checking file existence. A boolean containing the result is sent as a parameter.</li>
<li>fail: The function to execute when the file checking fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_open(&lt;filename&gt;, &lt;done(content)&gt;[, &lt;fail(error)&gt;);</h4>
<p>Get the content of a file.</p>
<ul>
<li>filename: The name of the file to be opened.</li>
<li>done: The function to execute when the file is loaded. The file content is sent as a parameter.</li>
<li>fail: The function to execute when the file loading fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_save(&lt;filename&gt;, &lt;content&gt;[, &lt;binary&gt;[, &lt;done&gt;[, &lt;fail(error)&gt;]]]);</h4>
<p>Write data to a file.</p>
<ul>
<li>filename: The name of the file to be saved. It will be created when it does not exist.</li>
<li>content: The content of the file to be saved.</li>
<li>binary: Boolean indicating whether the content is binary or not.</li>
<li>done: The function to execute when the file is saved.</li>
<li>fail: The function to execute when the file saving fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_copy(&lt;source&gt;, &lt;destination&gt;[, &lt;done&gt;[, &lt;fail(error)&gt;]]);</h4>
<p>Copy a file.</p>
<ul>
<li>source: The file or directory to be copied.</li>
<li>destination: The directory where the source must be copied to.</li>
<li>done: The function to execute when the file is copied.</li>
<li>fail: The function to execute when the file copying fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_move(&lt;source&gt;, &lt;destination&gt;[, &lt;done&gt;[, &lt;fail(error)&gt;]]);</h4>
<p>Move a file.</p>
<ul>
<li>source: The file or directory to be moved.</li>
<li>destination: The directory where the source must be moved to.</li>
<li>done: The function to execute when the file is moved.</li>
<li>fail: The function to execute when the file moving fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_rename(&lt;source&gt;, &lt;destination&gt;[, &lt;done&gt;[, &lt;fail(error)&gt;]]);</h4>
<p>Rename a file.</p>
<ul>
<li>source: The file or directory to be renamed.</li>
<li>destination: The new name for that file or directory.</li>
<li>done: The function to execute when the file is renamed.</li>
<li>fail: The function to execute when the file renaming fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_remove(&lt;filename&gt;[, &lt;done&gt;[, &lt;fail(error)&gt;]]);</h4>
<p>Remove a file.</p>
<ul>
<li>filename: The name of the file to be removed.</li>
<li>done: The function to execute when the file is removed.</li>
<li>fail: The function to execute when the file removing fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_file_search(&lt;filename&gt;, &lt;path&gt;, &lt;done(files)&gt;[, &lt;fail(error)&gt;]);</h4>
<p>Search for a file.</p>
<ul>
<li>filename: The text to search for inside filenames.</li>
<li>path: The path of where to start searching.</li>
<li>done: The function to execute when the searching is done.</li>
<li>fail: The function to execute when the searching fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h2>Directory</h2>
<h4>orb_directory_list(&lt;path&gt;, &lt;done(items)&gt;[, &lt;fail(error)&gt;]);</h4>
<p>Get a list of files and sub directories in a directory.</p>
<ul>
<li>path: The path of the directory of which to retrieve content.</li>
<li>done: The function to execute after directory listing. The content is sent as an array.</li>
<li>fail: The function to execute when the directory creating fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_directory_exists(&lt;directory&gt;, &lt;done(exists)&gt;[, &lt;fail(error)&gt;]);</h4>
<p>Check whether a directory exists or not.</p>
<ul>
<li>directory: The name of the directory to be checked.</li>
<li>done: The function to execute after checking directory existence. A boolean containing the result is sent as a parameter.</li>
<li>fail: The function to execute when the directory checking fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_directory_create(&lt;directory&gt;, &lt;done&gt;[, &lt;fail(error)&gt;]);</h4>
<p>Create a directory.</p>
<ul>
<li>directory: The complete path of the directory to be created.</li>
<li>done: The function to execute after creating the directory.</li>
<li>fail: The function to execute when the directory creating fails. the http error code is sent as a parameter.</li>
</ul>

<h4>orb_directory_remove(&lt;directory&gt;, [&lt;done&gt;[, &lt;fail(error)&gt;]]);</h4>
<p>Remove a directory.</p>
<ul>
<li>directory: The name of the directory to be removed.</li>
<li>done: The function to execute when the directory is removed.</li>
<li>fail: The function to execute when the directory removing fails. The HTTP error code is sent as a parameter.</li>
</ul>

<h4>orb_directory_upon_update(&lt;callback(directory)&gt;);</h4>
<p>Ask Orb to be informed about a change to the file system.</p>
<ul>
<li>callback: The function to execute when a change has been made to the file system. The directory in which the changes has been made, is sent as a paramater.</li>
</ul>

<h4>orb_directory_notify_update(&lt;directory&gt;);</h4>
<p>Notify Orb and other applications that the content of a directory has been modified.</p>
<ul>
<li>directory: The directory of which the content has been updated.</li>
</ul>
