<h1>Orb developer manual</h1>
<p>This manual describes how to write your own Orb application.</p>

<h2>Application files</h2>
<p>To create your own application, run the script 'setup' and select the option 'Create new application'. This will create a directory in the directory public/apps which corresponds with the name of your application. In the name of the created directory, all uppercase letters are replaced with lowercase letters and spaces are replaced with underscores. All the files from the directory extra/template are copied to that directory and given the same name as that directory.</p>

<p>So, if you decided to create the application 'My Application', it will be located in public/apps/my_application/my_application.js. In that directory, there will also be a stylesheet file and a backend file with the same name.</p>

<h2>Basic application concept</h2>
<p>Your application must have a function that is triggered upon page load, for example jQuery's ready(): $(document).ready(). In that function, use orb_startmenu_add() to add your application to the Orb start menu. Optionally, use orb_upon_file_open() to associate certain file extensions with your application. Don't start your application in that function!</p>

<p>When the callback of the orb_startmenu_add() function is called (because the user clicked on your application in the Orb start menu), use the <a href="window.html">orb_window()</a> jQuery plugin to create a new application. This returns the object of your application. Call its open() function to open your application window. The rest is up to you.</p>

<p>The working of the mentioned functions can be found in the Orb system API manual page. See the <a href="example.html">example application</a> how to use this to create an Orb application.</p>

<h2>Additional information</h2>
<ul>
<li><a href="example.html">Example application</a></li>
<li><a href="window.html">The orb_window jQuery plugin</a></li>
<li><a href="frontend.html">Frontend API</a></li>
<li><a href="backend.html">Backend calls</a></li>
<li><a href="scripts.html">User scripts</a></li>
</ul>
<p>These pages can also be found in this application's menu.</p>
