<h1>User scripts</h1>

<p>Users can automate tasks via scripts. Orb supports two kind of scripts, Terminal scripts and Javascripts.</p>

<h2>Orb Terminal Script</h2>
<p>An Orb Terminal Script is a text file with the extension 'ots'. It must contain Terminal commands. Open a Terminal and type 'help' for information about the available commands.</p>

<p>A script named login.ots and placed in the root of the file system will be executed after a user logs in.</p>

<h2>Javascript</h2>
<p>A Javascript is a text file with the extension 'js'. Besides Javascript code, it may also contain jQuery code, as Orb is built with jQuery. <a href="frontend.html">Orb API calls</a>, as specified in this manual, can be used to interact with Orb or the file system. Execute a Javascript by right-clicking the file icon and selecting 'Execute Javascript'.</p>

<p>A script named login.js and placed in the root of the file system will be executed after a user logs in. A script named load.js in the root of the file system will be executed upon every page load or refresh.</p>
