/* Windows
 */
div.windows {
	position:absolute;
	top:0;
	right:0;
	bottom:36px;
	left:0;
	overflow:hidden;
}

div.windows > div.overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0, 0, 0, 0.5);
}

div.windows div.window {
	min-width:200px;
	min-height:150px;
	background-color:#ffffff;
	border-radius:3px;
	outline:none;
}

div.windows div.window div.window-header {
	height:30px;
	padding:5px 10px 5px 15px;
	border-top-left-radius:inherit;
	border-top-right-radius:inherit;
	cursor:default;
}

div.windows div.window div.window-header img.icon {
	width:20px;
	height:20px;
	position:relative;
	top:-6px;
	left:-6px;
}

div.windows div.window div.window-header div.title {
	display:inline-block;
	font-size:14px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width:calc(100% - 100px);
	opacity:60%;
}

div.windows div.window.focus div.window-header div.title {
	opacity:100%;
}

div.windows div.window div.window-header span {
	float:right;
	padding-top:1px;
	font-size:16px;
	color:#000000;
	text-shadow:rgb(255, 255, 255) 1px 2px 1px;
	opacity:0.3;
	margin-left:10px;
}
div.windows div.window div.window-header span:hover {
	opacity:0.6;
	text-shadow:rgb(255, 255, 255) 1px 2px 3px;
}

div.windows div.window ul.nav {
	background-color:#e8e8f4;
}

div.windows div.window ul.nav a.dropdown-toggle:hover {
	background-color:inherit;
	border-color:transparent;
}

div.windows div.window ul.nav li.open a.dropdown-toggle {
	background-color:#e0e0f0;
}

div.windows div.window div.window-body {
	position:relative;
	overflow:hidden;
	height:calc(100% - 30px);
	padding:10px;
}

div.windows div.window ul.nav + div.window-body {
	height:calc(100% - 61px);
}

/* Menu bar
 */
div.windows a.dropdown-toggle {
	padding:5px 15px;
}

div.windows div.window ul.nav a.dropdown-toggle {
	color:#337ab7;
	background-color:inherit;
}

/* Window with iframe
 */
div.windows div.window iframe {
	border:none;
	width:100%;
	height:100%;
}

/* Alert
 */
div.orb_dialog {
	padding:10px;
}

div.orb_dialog div.message {
	min-height:35px;
}

div.orb_dialog div.btn-group {
	margin-top:15px;
	margin-bottom:0;
}

div.orb_dialog div.btn-group input {
	padding:5px 25px;
}
