div.explorer {
	position:relative;
	height:100%;
}

div.explorer button.directory_up {
	position:absolute;
	top:0;
	left:0;
	width:25px;
	height:25px;
}

div.explorer div.path {
	border:1px solid #cccccc;
	border-radius:4px;
	position:absolute;
	top:0;
	right:35px;
	left:35px;
	height:25px;
	padding:2px 5px;
	cursor:default;
	user-select:none;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

div.explorer div.path a {
	color:inherit;
}

div.explorer button.refresh {
	position:absolute;
	top:0;
	right:0;
	width:25px;
	height:25px;
}

/* Information
 */
div.explorer div.information {
	background-color:#e8f4ff;
	background-image:url(/apps/explorer/information.png);
	background-repeat:no-repeat;
	position:absolute;
	top:35px;
	bottom:0;
	left:0;
	width:185px;
	overflow:auto;
	padding:15px 15px 15px 25px;
	user-select:text;
}

div.explorer div.information img {
	width:20px;
	height:20px;
	margin-left:-10px;
	margin-bottom:10px;
}

div.explorer div.information b {
	margin-left:-10px;
}

/* Icons
 */
div.explorer div.files {
	position:absolute;
	top:35px;
	right:0;
	bottom:0;
	left:200px;
	overflow-y:auto;
	user-select:none;
}

div.explorer div.files div.icon.selected span {
	background-color:#cce8ff;
}

div.explorer div.files div.detail.selected {
	background-color:#cce8ff;
}

div.explorer div.files div.icon span:nth-of-type(n+2) {
	display:none;
}

div.explorer div.files div.icon {
	margin:15px 25px;
	height:100px;
	float:left;
}

/* Detailed list
 */
div.explorer div.files div.detail {
	user-select:none;
	margin-bottom:2px;
}

div.explorer div.files div.detail img {
	position:relative;
	top:-2px;
	width:14px;
	height:14px;
}

div.explorer div.files div.detail span:first-of-type {
	text-overflow:ellipsis;
	position:absolute;
	left:25px;
	right:85px;
	overflow:hidden;
	white-space:nowrap;
}

div.explorer div.files div.detail span:nth-of-type(2) {
	position:absolute;
	right:5px;
	width:80px;
	text-align:right;
	overflow:hidden;
}

div.explorer div.files div.detail span:nth-of-type(3) {
	position:absolute;
	right:5px;
	width:15px;
	text-align:right;
	display:none;
	top:auto;
	padding-top:2px;
}

div.explorer div.files div.icon:hover span {
	background:#e8f4ff;
}

div.explorer div.files div.detail:hover {
	background:#e8f4ff;
}

/* Dropzone
 */
div.explorer form.dropzone {
	position:absolute;
	right:0;
	bottom:2px;
	left:200px;
	display:none;
	overflow:hidden;
	padding:0;
}

/* Mobile
 */
div.explorer div.drag,
div.explorer div.upload {
	position:absolute;
	left:0;
	height:25px;
	width:150px;
	background-color:#e8f4ff;
	padding-left:10px;
}

div.explorer div.drag {
	bottom:0;
}

div.explorer div.upload {
	bottom:30px;
}

div.explorer div.drag input,
div.explorer div.upload input {
	margin-right:5px;
}

div.explorer div.scroll {
	position:absolute;
	bottom:0;
	right:0;
	left:165px;
	height:25px;
}

div.explorer div.scroll button {
	padding-top:4px;
	width:50%;
}

/* Share
 */
div.explorer_share button {
	padding:5px 25px;
}

div.explorer_shares td:nth-child(2) {
	width:140px;
}

div.explorer_shares td:nth-child(5) {
	width:55px;
	padding:3px;
	text-align:right;
}

/* Search resuls
 */
div.search_result {
	height:100%;
	overflow:hidden;
}

div.search_result h1 {
	margin-top:0;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	height:40px;
	margin-bottom:5px;
}

div.search_result div.path {
	height:25px;
	text-overflow:ellipsis;
	white-space:nowrap;
	height:30px;
	font-size:16px;
	color:#a0a0a0;
}

div.search_result div.hits {
	overflow:auto;
	max-height:calc(100% - 75px);
}

div.search_result div.hits div {
	margin-bottom:5px;
	cursor:pointer;
	margin-left:5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

div.search_result div.hits div:hover {
	background-color:#e8f4ff;
}

div.search_result div.hits div img {
	width:16px;
	height:16px;
	margin-right:10px;
	position:relative;
	top:-2px;
}
